<div class="container">
    <div class="row">
        <h1>Projects</h1>
    </div>
    {{#each projects}}
        <br/>
        <div class="row">  
            <div class="col-md-12">
                <div class="row">
                    <a href="/project/projectDetails/{{this._id}}" class="project"><h3>{{this.name}}</h3></a>
                </div>
            </div>     
        </div>      
    {{/each}}
</div>
