<div class="container">
    <div class="row">
                <ul class="col-md-offset-2" id="progressbar">
                    <li class="active">Project Details</li>
                    <li class="active">Project Timelines</li>
                    <li>Employee Details</li>
                    <li>Confirm Details</li>
                </ul>
            <form action="/project/addEmployee" method="post" class="form-horizontal progectDurationForm" id="projectDurationForm"> 
                <fieldset>
                    <div class="well col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                          <div class="col-lg-3 col-md-3 col-sm-12">
                              <h2>SIT PHASE</h2>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="projectName" class="control-label">START DATE</label>
                                <input type='date' class="form-control" name="sitStartDate" id="sitStartDate">
                                <span id="sitmessage"></span>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="projectName" class="control-label">END DATE</label>
                                <input type='date' class="form-control" name="sitEndDate" id="sitEndDate">
                                <span id="sitmessage"></span>
                          </div>
                      </div>
                    </div>
                     <div class="well col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                          <div class="col-lg-3 col-md-3 col-sm-12">
                              <h2>UAT PHASE</h2>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="projectName" class="control-label">START DATE</label>
                                <input type='date' class="form-control" name="uatStartDate" id="uatStartDate">
                                <span id="uatmessage"></span>                                
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="projectName" class="control-label">END DATE</label>
                                <input type='date' class="form-control" name="uatEndDate" id="uatEndDate">
                                <span id="uatmessage"></span>
                          </div>
                      </div>
                    </div>
                     <div class="well col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                          <div class="col-lg-3 col-md-3 col-sm-12">
                              <h2>PRODUCTION PHASE</h2>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="projectName" class="control-label">START DATE</label>
                                <input type='date' class="form-control" name="prodStartDate" id="prodStartDate">
                                <span id="prodmessage"></span>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12">
                                <label for="projectName" class="control-label">END DATE</label>
                                <input type='date' class="form-control" name="prodEndDate" id="prodEndDate">
                                <span id="prodmessage"></span>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <button type="reset" onClick="goBack()" class="btn btn-primary pull-right cancel-btn">BACK</button>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <button type="submit" class="btn btn-primary project-next-btn">NEXT</button>
                        </div>
                    </div>
                    <div>
                        <input id="projectName" class="form-control" type="hidden" name="projectName" value="{{projectName}}"/>
                        <input id="projectType" class="form-control" type="hidden" name="projectType" value="{{projectType}}"/>
                        <input id="projectDescription" class="form-control" type="hidden" name="projectDescription" value="{{projectDescription}}"/>
                        <input name="_csrf" class="form-control" type="hidden" value="{{ csrfToken }}">      
                    </div>
                </fieldset>
            </form>
        </div>
</div>
<script type="text/javascript" src="/javascripts/project.js "></script>
